

.currentGamesContainer
{
  max-width: 800px;
}

.gridView
{
  // grid-template-columns: calc(5 / 12 * 100%) calc(4 / 12 * 100%) calc(3 / 12 * 100%);
  grid-template-columns: 20fr 15fr 10fr 2fr 10fr 15fr 20fr;
  // grid-template-columns: [first] 20% auto [last] 20%;
  border-bottom: none;
}

.addToSlip {
  right: -142px;
  top: 47px;
}
tbody
{
 color: black;
}

.dateIndicator
{
  margin-bottom: -30px;
}

.success
{
  top: 64px;
}

#modalButton
{
  position: fixed;
  left: calc(50% + 250px);

  top: 16px;
  z-index: 9999999;
}

.modal-content{
    width: 650px;
    margin-left: -12.5%;
    .modalContent {
      display: grid;
      // grid-template-columns: [first] 50% auto [last] 100px;
      // grid-template-columns: [first] 280px 100px [last] 110px;
      // grid-template-columns: [first] 252px 100px 100px [last] 110px;
      grid-template-columns: [first] 374px 50px 50px [last] 124px;

      background-color: #9eb0c8;
      margin-bottom: 5px;
      border-radius: 6px;
      padding: 3px;
    }
}

svg{
  height: 25px;
  :hover {
    cursor: pointer;
  }
}
.star {
  fill: #ffd700;
}

.hideMe {
  visibility: collapse;
}
#saveModalButton {
    width: 80px;
    height: 40px;
}
#predictionModal
{
  max-height: 90vh;
}
.mainContainer
{
  margin-top: 100px;
}
.allGamesContainer
{
  margin-top: -130px;
}

.singlePredictionWrappaer
{
  margin-bottom: -33px;
}
.tooltipBin, .tooltipStar, .tooltipBooster
{
  // transform: translateX(30px);
  transform: translateY(-54px);
  z-index: 99;
}
.boosterUsed
{
  margin-top: -14px;
  left: 19rem;
  :hover {
    cursor: pointer;
  }
}
.boosterInfo{
  margin: 0 auto;
  margin-top: 10px;
}
