<div [ngClass]="{ dark: isDarkEnable }">

  <section class="">
    <div class="container px-6 py-12 h-full">
      <div class="formContainer justify-start items-center  text-gray-800
      bg-white
      ">

        <div class="w-100">
          <form #f="ngForm" (ngSubmit)="register()">
            <h3 class="text-2xl font-extrabold mb-12 dark:text-yellow-200" >Register</h3>

            <div class="mb-6">
              <input
              required
              [(ngModel)]="user.name"
                name="username"
                type="text"
                class="peer form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                placeholder="Name"
              />
              <p class="invisible peer-invalid:visible text-red-700 dark:text-yellow-500 font-light">
                Please enter your name
              </p>
            </div>

            <div class="mb-6">
              <input
              required
                [(ngModel)]="user.username"
                name="username"
                type="text"
                class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                placeholder="Username"
              />
              <p class="invisible peer-invalid:visible text-red-700 dark:text-yellow-500 font-light">
                Please enter your username
              </p>
            </div>

            <!-- Password input -->
            <div class="mb-6">
              <input
              required
              [(ngModel)]="user.password"
                name="password"
                type="password"
                class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                placeholder="Password"
              />
              <p class="invisible peer-invalid:visible text-red-700 dark:text-yellow-500 font-light">
                Please enter your password
              </p>
            </div>
            <div class="relative h-4">
              <span class="text-red-500 absolute">{{ errorMessage }}</span>

            </div>

            <div class="flex justify-between items-center mb-6">
              <div class="form-group form-check">



              </div>

            </div>

            <!-- Submit button -->
            <button type="button"
            id="registerButton"
            (click)="register()"
            class="px-6
            py-2.5
            bg-blue-600
            text-white
            font-medium
            text-md
            leading-tight
            rounded
            shadow-md
            hover:bg-blue-700 hover:shadow-lg
            focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
            active:bg-blue-800 active:shadow-lg
            transition
            duration-150
            ease-in-out
            ml-1">
              <span *ngIf="!inTransit">Register me</span>
              <div *ngIf="inTransit" class="spinner-border animate-spin inline-block w-6 h-6 border-4 rounded-full" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
          </button>


          </form>
        </div>
      </div>
    </div>
  </section>

</div>

