<div [ngClass]="{ dark: isDarkEnable }">

  <app-spinner *ngIf="dailyGamesArray == null"></app-spinner>


  <div *ngIf="dailyGamesArray != null">

      <div
        *ngFor="let dailyGame of dailyGamesArray"
        class="min-w-screen  bg-transparent flex items-center justify-center  font-sans overflow-hidden">
          <div class="gamesContainer w-5/6">
              <div  class="  my-16">
                <div class="flex space-x-2 justify-start ml-3 mb-3">
                  <h2 class="text-2xl font-medium leading-tight text-gray-800">
                    <span class="inline-block py-1.5 px-2.5 leading-none text-center whitespace-nowrap align-baseline font-bold bg-highlight1 dark:bg-amber-300 text-white dark:text-gray-800 rounded">{{ dailyGame[0].matchDate }}</span>
                  </h2>
                </div>
                  <table  class=" rounded-lg w-full myTable table-auto rounded-lg text-black">

                      <tbody class="text-gray-600 text-base font-semibold">
                          <tr
                            *ngFor="let game of dailyGame; let i = index"
                            class="border-b border-gray-200 bg-blue-50 font-semibold">

                            <td class="py-3 px-6 text-center">
                                <div class="flex items-center justify-center">
                                  <span>{{ game.team1.name }}</span>
                                </div>
                            </td>
                              <td class="py-3 px-6 text-center">
                                  <div class="flex items-center justify-center">
                                    <span class="mx-2 w-12"><img src="{{ flagsURL }}{{game.team1.countryCode}}{{ extension }}"></span>
                                  </div>
                              </td>
                              <td class="py-3 px-6 text-center">
                                <span>{{ game.kickoff.slice(0, -3) }}</span>
                              </td>
                              <td class="py-3 px-6 text-center">
                                <div class="flex items-center justify-center">
                                  <span class="mx-2 w-12"><img src="{{ flagsURL }}{{game.team2.countryCode}}{{ extension }}"></span>
                                </div>
                              </td>
                              <td class="py-3 px-6 text-center">
                                <span>{{ game.team2.name }}</span>
                              </td>
                          </tr>

                      </tbody>
                  </table>


    <!-- Button trigger modal -->

              </div>
          </div>
      </div>
    </div>
  </div>



