@media only screen and (min-width: 1280px) {
  .myContainer {
    margin: 0 20%;
  }
  .myTable {

    border-radius: 5px;
  }
}
.verticalAdjustment {
  transform: rotate(270deg);
  font-size: xx-large;
  position: absolute;
  bottom: 143px;
  left: -90px;
  font-weight: 700;

}

.groupInfo {
  bottom: 6px;
    left: 3px;
}

