<div [ngClass]="{ dark: isDarkEnable }">

  <app-spinner *ngIf="allGroupsArray == null"></app-spinner>


  <div *ngIf="allGroupsArray != null" class="min-w-screen  bg-transparent flex items-center justify-center  font-sans overflow-hidden">
      <div class="myContainer w-5/6">
          <div *ngFor="let group of allGroupsArray; let i = index" class="shadow-md rounded-lg my-16">
              <table  class="w-full myTable table-auto rounded-lg text-base">
                  <thead>
                      <tr class="bg-gradient-to-r from-sky-600 to-blue-600 text-white dark:bg-gradient-to-r dark:from-blue-300 dark:to-sky-300  dark:text-gray-800  relative uppercase text-sm leading-normal">
                          <th class="verticalAdjustment text-highlight1 dark:text-yellow-300">{{ group[3].groupName }}</th>
                          <th class="py-3 px-6 text-left text-lg italic rotate-90"></th>
                          <th class="py-3 px-6 text-center">Team</th>
                          <th class="py-3 px-6 text-center">Win</th>
                          <th class="py-3 px-6 text-center">Draw</th>
                          <th class="py-3 px-6 text-center">Loss</th>
                          <th class="py-3 px-6 text-center">Goals</th>
                          <th class="py-3 px-6 text-center">Points</th>
                      </tr>
                  </thead>
                  <tbody class="text-gray-600 text-base font-semibold">
                      <tr
                      *ngFor="let team of group; let j = index"
                        class="border-b border-gray-200 bg-blue-50 font-semibold">
                        <td></td>
                          <td class="py-3 px-6 text-center whitespace-nowrap">
                              <div class="flex items-center justify-end">

                                  <span class="font-large text-center justify-center">{{ team.positionInTable }}</span>
                              </div>
                          </td>
                          <td class="py-3 px-6 text-left">
                              <div class="flex items-center">
                                  <div class="mx-2 w-12"><img src="{{ flagsURL }}{{team.countryCode}}{{ extension }}"></div>
                                  <span>{{ team.name }}</span>
                              </div>
                          </td>
                          <td class="py-3 px-6 text-center">
                              <div class="flex items-center justify-center">
                                <span>{{ team.win }}</span>
                              </div>
                          </td>
                          <td class="py-3 px-6 text-center">
                            <span>{{ team.draw }}</span>
                          </td>
                          <td class="py-3 px-6 text-center">
                            <span>{{ team.loss }}</span>
                          </td>
                          <td class="py-3 px-6 text-center">
                            <span>{{ team.goalsScored - team.goalsLost }}</span>
                          </td>
                          <td class="py-3 px-6 text-center">
                              <div class="flex item-center justify-center">
                                <span class="bg-purple-200 text-purple-600 py-1 px-3 rounded-full text-lg">{{ team.points }}</span>
                              </div>
                          </td>
                      </tr>

                  </tbody>
              </table>


<!-- Button trigger modal -->

          </div>
      </div>
  </div>
</div>








