/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// @font-face {
//   font-family: "Oxygen";
//   src: local("Oxygen"), url(./assets/fonts/Oxygen/Oxygen-Regular.ttf) format("truetype");
// }
// @import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

@font-face {
  font-family: "Montserrat-Regular";
  src: local("Montserrat-Regular"), url(./assets/fonts/Montserrat-Regular.ttf) format("truetype");
}

// body {
//   max-width: 100%;
// }

// html, body {
//   font-family: Outfit !important;
// }

.gamesContainer
{
  max-width: 1000px;
}

table
{
  -webkit-box-shadow: 0 3px 5px -2px black;
  -moz-box-shadow: 0 3px 5px -2px black;
       box-shadow: 0 3px 5px -2px black;

       tbody
       {
        color: black;
       }
}
